<div class="container-fluid col-xs-12" id="main">
    <form class="form-horizontal" action="/pool/{{id}}" method="GET">

        <h3 class="title">{{tripname}}</h3>
        <p class="intro">carpoolerapp.herokuapp.com/trip/{{id}}</p>

        <div class="form-group">
            <label for="destination">Destination</label>
            <input type="text" value="{{destination}}" name="destination" id="destination" class="form-control" onkeyup="autoComplete(this)" onchange="updateDest({{id}},this)" list="dest_suggest">
            <datalist id="dest_suggest">
            </datalist>
        </div>

        <h4>Stops</h4> {{#list people}}
        <div class="people">
            <p id="{{id}}">{{name}}</p>
            <p class="addr">{{location}}</p>
            <a href="/trip/{{tid}}/remove/{{id}}">REMOVE</a>
        </div>
        {{/list}}

        <div class="col-xs-5 col-md-offset-1 col-md-4">
            <a href="/trip/{{id}}/add">
                <button type="button" class="btn btn-default">Add</button>
            </a>
        </div>
        <div class="col-xs-offset-2 col-xs-5 col-md-offset-2 col-md-4">
            <a href="/trip/{{id}}/pool">
                <button type="button" class="btn btn-default pool">Pool</button>
            </a>
        </div>
        <div class="clear"></div>

    </form>
</div>


<script>
$(function(){console.log($('.people a')[0].remove());});
</script>