<div class="container-fluid col-xs-12" id="main">

    <div class="col-xs-12">
        <h3 class="title">Your trip has been created.</h3>
        <p class="intro">Simply copy the URL and send it to your friends!</p>


        <h4>{{tripname}}</h4>
        <p>carpooler.com/trip/{{id}}</p>

        <h4>Destination</h4>
        <p>{{destination}}</p>

        <h4>Stops</h4> {{#list people}}
        <div class="people">
            <p>{{name}}</p>
            <p class="addr">{{location}}</p>
        </div>
        {{/list}}

    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
            <a href="/trip/{{id}}">
                <button type="button" class="btn btn-default">Trip Page</button>
            </a>
        </div>
    </div>
</div>